:root{
    --orange:#EB721C;
    --lblue:#33D6E5;
    --blue:#00464C;
}


/****BODY****/
* {margin: 0; padding: 0;}

body {
	font-family: 'Hind', sans-serif;
	color: #717B7F;
	font-size: 14pt;
}

a {
	text-decoration: none;
	color: gray;
	font-size: 20pt;
	-webkit-transition: 0.5s ease; 
    transition: 0.5s ease;
}

a:hover {
	color: var(--lblue);
}

#active{
	color: var(--orange);
}

/******TOP CONTENT******/
#intro {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

#intro a{
	font-size: 15pt;
	text-align: center;
	padding:10px;
}


/******PROJECT LINKS******/
#work {
	width: 75%;
	margin:auto;
}

.leftCol {
	float: left;
	width: 50%;
}

.rightCol{
	float: right;
	width: 50%;
}

.projectlink {
	/*width: 100%;*/
	margin: auto;
	margin-bottom: 30px;
	text-align: center;
}
	
	#pcpart {
		border-bottom: solid 1px gray;
	}

	/****IMAGE OVERLAY EFFECTS****/
	.slidecontainer {
	  position: relative;
	  height: 100%;
	  width: 70%;
	  margin: auto;
	}

	.slideimage {
	  display: block;
	  width: 100%;
	  height: auto;
	  margin: auto;
	}

	.overlay {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  opacity: 0;
	  background-color: var(--blue);
	  overflow: hidden;
	  width: 100%;
	  height: 0;
	  margin: auto;
	  transition: .5s ease;
	}

	.slidecontainer:hover .overlay {
	  height: 30%;
	  opacity: 1;
	}

	.text {
	  white-space: nowrap; 
	  color: white;
	  font-size: 20px;
	  position: absolute;
	  overflow: hidden;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	}




/****Project Pages****/
	.projectpage {
		margin: auto;
	}

	.projectinfo{
		margin: auto;
		width: 75%;
		max-width: 700px;
	}

	.projectinfo ul {
		list-style-type: none;
	}

	.projectinfo ul li {
		margin: 10px;
	}

	.projectinfo h1, h3{
		color: var(--orange);
	}

	.wideimg{
		display: block;
		width: 65%;
		margin: auto;  
		margin-bottom: 30px;
	}

	.tallImg{
		display: block;
		width: 25%;
		margin: auto;
		margin-bottom: 30px;
	}

	.imgcontainer{
		background-color: var(--blue);
	}

	.btn{
		padding: 4px 10px 4px 10px;
		border-radius: 10px;
		background: 
		border: 2px solid blue;
	}

		#nmtptitle {
			margin-left: 10%;
			font-size: 90pt;
			bottom: 100px;
		}

		#snowtitle {
			right: 70px;
			font-size: 55pt;
			bottom: 120px;
		}

/****ABOUT PAGE****/
#aboutwrapper {
	width: 60%;
	margin: auto;
	text-align: center;
}


/****FOOTER****/
footer {
	margin: auto;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    text-align: center;
}

footer a:hover {
	color: var(--lblue);
}
.spanentry {
	margin-right: 40px;
}

/******RESIZING FOR 1200******/
@media screen and (max-width: 1200px) {
	.leftCol {
		float: none;
		width: 80%;
		margin: auto;
	}

	.rightCol {
		float: none;
		width: 80%;
		margin: auto;
	}
}


