* {margin: 0; padding: 0;}

body {
	font-family: 'Hind', sans-serif;
}

button{
	background-color: #67D69A;
	width: 125px;
	height: 45px;
	border:none;
	border-radius: 15px;
	-webkit-transition: 0.3s ease; 
    transition: 0.3s ease;
}

button:hover{
	background-color: #34AD6B
}

/******CLASSES**********/
.headerWrapper {
	width: 60%;
	margin: auto;
}

.contentWrapper {
	width: 70%;
	margin: auto;
}

/******HEADER*********/
header {
	height: 8vh;
	background-color: #303536;
}

#headerContent {
	text-align: center;
	font-size: 1.2em;
	color: white;
}


#headerContent nav {
	padding-top: 3vh;
}

#headerContent a{
	text-decoration: none;
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	transition: color .3s ease;
}

#headerContent a:hover {
	color: gray;
}


/******MAIN SPLASH******/
#mainSplash {
	margin-top: 30px;
}

#splashLogo{
	margin-bottom: 20px;
}

#mainLogo {
	display: block;
	margin: auto;
}

#headerName {
	margin: auto;
	text-align: center;
	font-size: 2em;
	font-family: 'Signika', sans-serif;
}

/********MAIN CONTENT*****/
.pimg {
	float: left;
	margin-right: 15px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

#projectsWrapper article{
	width: 75%;
	margin-bottom: 15px;
	display: inline-block;
}

#projectsWrapper a{
	text-decoration: none;
	color: blue;
}


/******FOOTER*******/
footer {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
}